<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registro</title>
    
        <!-- Font family -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <!-- Importar iconos -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link  href="/static/css/styles.css" rel="stylesheet"> <!-- Stilos del sitio -->
        
    </head>
<body>
    <header >
        
        <br>
        <br>
        <div class="both">
            <img src="static/images/logo-mercado-liebre.svg" alt="" id="logo">
            <div class="search-bar">

                <input placeholder="Buscar productos, marcas"><i class="fas fa-search"></i>
            </div>

                <p id="compra"><i class="fas fa-money-bill"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        
    
       </div>
       <br>
       <nav class="hd-bottom-bar">
        <ul class="left-nav-var">
            <li><a href="/">Ofertas</a> </li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayudar</a></li>
        </ul>

        <ul class="right-nav-bar">
            <li><a href="/singup">Crea tu cuenta </a> <i class="fas fa-user-circle"></i></li>
            <li><a href="#">Ingresa</a> <i class="fas fa-sign-in-alt"></i></li>
            <li><a href="#">Mis compras <i class="far fa-credit-card"></i></a></li>
            
        </ul>
    </nav>
        <i id="menu" class="fas fa-bars"></i>
        <br>
        
    </header>
    <img id="banner" src="/static/images/img-home-banner.jpg">
    <main>
        <form action="/" id="login-form">
           <h2>Ingresa a la mejor tienda en línea!</h2>

            <div class="user">
                <input type="text" name="user" id="user" placeholder="Usuario" required>
            </div>
            <br>
            <div class="pass">
                <input type="password" name="pass" id="pass" placeholder="Contraseña" required>
            </div>
            <br>
            <br>
            <div class="submit-btt">
                <input type="submit" value="Get In">
            </div>
           
        </form>
    
    </main>

</body>
</html>